<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Photocopy your URLs</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">

    <script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
    <div id="container">
        <header>
            static url is {{ STATIC_URL }}
        </header>

        <div id="main" role="main">

        </div>

        <footer>

        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
</body>
</html>
